Repository fralik/rundata-net: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

bandit:
  name: Local bandit
  entry: bandit
  language: python
  args:
  - -ll
  - --quiet
  - -s
  - B113
  stages:
  - pre-commit
  - manual

django-upgrade:
  name: django Upgrade
  entry: django-upgrade
  language: python
  stages:
  - pre-commit
  - manual
  args:
  - --target-version
  - '5.0'

trailing-whitespace-fixer:
  name: Local trailing-whitespace-fixer
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit

end-of-file-fixer:
  name: Local end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit

Add docs about publishing on Azure (#135)
  docs/dev/azure.rst
  docs/index.rst
Due: trailing-whitespace-fixer, end-of-file-fixer

Extend runic search for multiple words at a time; update documentation
  docs/_static/pseudo_similar.png
  docs/_static/rundatanet_words.png
  docs/searching.rst
  rundatanet/runes/js/index_search.js
  rundatanet/runes/js/search_core.js
  rundatanet/tests/js/index_search.test.js
  rundatanet/tests/js/search_core.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Update rundatanet/runes/js/index_search.js
  rundatanet/runes/js/index_search.js
Due: trailing-whitespace-fixer

Fix personal names counting
  rundatanet/runes/js/index_search.js
  rundatanet/tests/js/index_search.test.js
Due: trailing-whitespace-fixer

Add pipeline to deploy Sofia's version of Rundata
  .github/workflows/rundata_sofia.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Add pipeline to deploy Sofia's version of Rundata (#137)
  .github/workflows/rundata_sofia.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/rundata-sofia_rundata-sofia.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Adjust pipeline
  .github/workflows/rundata-sofia_rundata-sofia.yml
  .github/workflows/rundata_sofia.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Remove Sofia's pipeline from master
  .github/workflows/rundata_sofia.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Remove Sofia's pipeline from master (#138)
  .github/workflows/rundata_sofia.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix ssl requirement in production
  config/settings/production.py
Due: bandit, django-upgrade, end-of-file-fixer

Update docs/searching.rst
  docs/searching.rst
Due: trailing-whitespace-fixer, end-of-file-fixer

Update index page title with sofia addition
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Extend runic search for multiple words at a time; update documentation (#136)
  docs/_static/pseudo_similar.png
  docs/_static/rundatanet_words.png
  docs/searching.rst
  rundatanet/runes/js/index_search.js
  rundatanet/runes/js/search_core.js
  rundatanet/tests/js/index_search.test.js
  rundatanet/tests/js/search_core.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Move map filters below map panel
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Refine index page layout and controls placement
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Update layout, controls, and import/export interactions
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Polish search controls and AI assistant styling
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Make delete search also reset query parameters
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix Excel ID import with robust parsing fallbacks
  rundatanet/runes/js/index_import_utils.js
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Speed up deployment
  .github/workflows/build-template.yml
  .github/workflows/master_rundatanet.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

add forgotten file
  startup.sh
Due: trailing-whitespace-fixer, end-of-file-fixer

Set DJANGO_ADMIN_URL
  .github/workflows/build-template.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  .github/workflows/build-template.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Move tests into separate pipelines
  .github/workflows/build-template.yml
  .github/workflows/master_rundatanet.yml
  .github/workflows/npm-test-template.yml
  .github/workflows/pr_check.yml
  .github/workflows/python-test-template.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Speed up deployment (#139)
  .github/workflows/build-template.yml
  .github/workflows/master_rundatanet.yml
  .github/workflows/npm-test-template.yml
  .github/workflows/pr_check.yml
  .github/workflows/python-test-template.yml
  startup.sh
Due: trailing-whitespace-fixer, end-of-file-fixer

Change binary dependency
  requirements/production.txt
Due: trailing-whitespace-fixer, end-of-file-fixer

Do not do additional tests during deployment
  .github/workflows/master_rundatanet.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix deployment (#140)
  .github/workflows/master_rundatanet.yml
  requirements/production.txt
Due: trailing-whitespace-fixer, end-of-file-fixer

Short-circuit Azure internal health probes to prevent DisallowedHost errors
  config/settings/production.py
  rundatanet/runes/middleware.py
  rundatanet/tests/test_health_check_middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Do not build on PR check
  .github/workflows/pr_check.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

address pr comments
  rundatanet/runes/middleware.py
  rundatanet/tests/test_health_check_middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update rundatanet/runes/middleware.py
  rundatanet/runes/middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Short-circuit Azure internal health probes (#141)
  .github/workflows/pr_check.yml
  config/settings/production.py
  rundatanet/runes/middleware.py
  rundatanet/tests/test_health_check_middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add search highlight functionality to English and Swedish translations
  rundatanet/runes/js/index_query_builder.js
  rundatanet/runes/js/index_scripts.js
  rundatanet/runes/js/index_search.js
  rundatanet/static/runes/eda_scripts.js
  rundatanet/tests/js/index_scripts.test.js
  rundatanet/tests/js/index_search.test.js
Due: trailing-whitespace-fixer

Address PR comments
  rollup.config.mjs
  rundatanet/runes/js/eda.js
  rundatanet/runes/js/eda_scripts.js
  rundatanet/templates/runes/eda.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add search highlight functionality to English and Swedish translations (#142)
  rollup.config.mjs
  rundatanet/runes/js/eda.js
  rundatanet/runes/js/eda_scripts.js
  rundatanet/runes/js/index_query_builder.js
  rundatanet/runes/js/index_scripts.js
  rundatanet/runes/js/index_search.js
  rundatanet/templates/runes/eda.html
  rundatanet/tests/js/index_scripts.test.js
  rundatanet/tests/js/index_search.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Use the latest actions/cache version
  .github/workflows/build-template.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Use the latest actions/cache version (#143)
  .github/workflows/build-template.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Path conditions:
  bandit: any of: \.py$
  django-upgrade: any of: \.py$
  trailing-whitespace-fixer: any file but: .*/notebooks/|config/
  end-of-file-fixer: any file but: .*js|.*css
