Repository fralik/rundata-net: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

.pre-commit-config.yaml:

# Pre-commit manager: https://pre-commit.com

# Commit hooks
repos:
  # Python security linter
  - repo: local
    hooks:
      # Python security linter
      - id: bandit
        name: Local bandit
        entry: bandit
        language: python
        types: [python]
        # ll: report only issues of a given severity level or higher (-l for LOW, -ll for MEDIUM, -lll for HIGH)
        # quiet: whether to only show output in the case of an error
        # -s B113: skip testing for timeouts in request calls.
        args: ["-ll", "--quiet", "-s", "B113"]
        stages: [pre-commit, manual]

      # Django-upgrade
      - id: django-upgrade
        name: django Upgrade
        entry: django-upgrade
        language: python
        types: [python]
        stages: [pre-commit, manual]
        args: [--target-version, "5.0"]   # Replace with Django version

      # Python-code autoformat with minimum configuration
      - id: black
        name: Local black
        entry: black
        language: python
        types_or: [python, pyi]
        stages: [pre-commit, manual]
        args: ["--line-length=120"]

      # Python-imports sorting. Settings are set in .isort.cfg
      - id: isort
        name: Local isort
        entry: isort
        language: python
        types_or: [python, pyi]
        args: ["--settings=.isort.cfg"]
        stages: [pre-commit, manual]

      # This hook trims trailing whitespace:
      - id: trailing-whitespace-fixer
        name: Local trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit]
        exclude: .*/notebooks/|config/
      # Forces LF over CRLF
      - id: mixed-line-ending
        name: Local mixed-line-ending
        entry: mixed-line-ending
        language: python
        types: [text]
        stages: [pre-commit]
        args: ["--fix=lf"]
      # checks for files that would conflict in case-insensitive filesystems.
      - id: check-case-conflict
        name: Local check-case-conflict
        entry: check-case-conflict
        language: python
        stages: [pre-commit]
      #  ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
        name: Local end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit]
        exclude: .*js|.*css

Potential fix for pull request finding
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  config/settings/production.py
Due: bandit, django-upgrade, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/runes/middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix urls and redirects (#100)
  config/settings/production.py
  rundatanet/runes/middleware.py
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/templates/runes/references.html
  rundatanet/tests/test_canonical_middleware.py
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update to node v24, update version of github actions
  .github/workflows/build-template.yml
  .github/workflows/master_rundatanet.yml
  package-lock.json
  package.json
  rundatanet/tests/js/index_scripts.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Update to node v24, update version of github actions (#102)
  .github/workflows/build-template.yml
  .github/workflows/master_rundatanet.yml
  package-lock.json
  package.json
  rundatanet/tests/js/index_scripts.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Update migration with stats
  rundatanet/runes/migrations/0006_extract_runer_ku_dk_references.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update tests accordingly to changes in the script
  rundatanet/runes/tests/test_migration_0006.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Extract runer.ku.dk URLs from text references into clickable link references (#103)
  .gitignore
  rundatanet/runes/migrations/0006_extract_runer_ku_dk_references.py
  rundatanet/runes/tests/test_migration_0006.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Improve meta descriptions to meet SEO length requirements (#106)
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/eda.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/templates/runes/references.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix SEO: expand short page title tags on index and inscription_detail pages (#108)
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add visually-hidden h1 tag to index page for SEO (#110)
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix: Remove redundant h1 tags from about page (#112)
  rundatanet/static/css/runinskrifter_style.css
  rundatanet/templates/runes/about.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Update rundatanet/runes/tests/test_danish_references.py
  rundatanet/runes/tests/test_danish_references.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

update based on pr comment
  rundatanet/runes/tests/test_danish_references.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

update docstring
  rundatanet/runes/migrations/0006_extract_runer_ku_dk_references.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix export bug
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add unit tests for getRules functionality
  rundatanet/tests/js/index_query_builder.test.js
Due: trailing-whitespace-fixer

Fix the fix
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix download (#123)
  rundatanet/templates/runes/index.html
  rundatanet/tests/js/index_query_builder.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Preserve header order in multiselect when adding new display fields (#130)
  rundatanet/runes/js/index_multiselect.js
  rundatanet/tests/js/index_multiselect.test.js
Due: trailing-whitespace-fixer

Fix dark-theme section heading color on inscription detail page (#132)
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/runes/migrations/0008_add_liljegren_links.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add docs about publishing on Azure
  docs/dev/azure.rst
  docs/index.rst
Due: trailing-whitespace-fixer, end-of-file-fixer

Update docs/dev/azure.rst
  docs/dev/azure.rst
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix formatting
  docs/dev/azure.rst
Due: trailing-whitespace-fixer, end-of-file-fixer
