Repository fralik/rundata-net: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

.pre-commit-config.yaml:

# Pre-commit manager: https://pre-commit.com

# Commit hooks
repos:
  # Python security linter
  - repo: local
    hooks:
      # Python security linter
      - id: bandit
        name: Local bandit
        entry: bandit
        language: python
        types: [python]
        # ll: report only issues of a given severity level or higher (-l for LOW, -ll for MEDIUM, -lll for HIGH)
        # quiet: whether to only show output in the case of an error
        # -s B113: skip testing for timeouts in request calls.
        args: ["-ll", "--quiet", "-s", "B113"]
        stages: [pre-commit, manual]

      # Django-upgrade
      - id: django-upgrade
        name: django Upgrade
        entry: django-upgrade
        language: python
        types: [python]
        stages: [pre-commit, manual]
        args: [--target-version, "5.0"]   # Replace with Django version

      # Python-code autoformat with minimum configuration
      - id: black
        name: Local black
        entry: black
        language: python
        types_or: [python, pyi]
        stages: [pre-commit, manual]
        args: ["--line-length=120"]

      # Python-imports sorting. Settings are set in .isort.cfg
      - id: isort
        name: Local isort
        entry: isort
        language: python
        types_or: [python, pyi]
        args: ["--settings=.isort.cfg"]
        stages: [pre-commit, manual]

      # This hook trims trailing whitespace:
      - id: trailing-whitespace-fixer
        name: Local trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit]
        exclude: .*/notebooks/|config/
      # Forces LF over CRLF
      - id: mixed-line-ending
        name: Local mixed-line-ending
        entry: mixed-line-ending
        language: python
        types: [text]
        stages: [pre-commit]
        args: ["--fix=lf"]
      # checks for files that would conflict in case-insensitive filesystems.
      - id: check-case-conflict
        name: Local check-case-conflict
        entry: check-case-conflict
        language: python
        stages: [pre-commit]
      #  ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
        name: Local end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit]
        exclude: .*js|.*css

Fix PDF blob links on inscription detail page using AZURE_BLOB_BASE_URL (#85)
  rundatanet/runes/templatetags/settings.py
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update rundatanet/runes/js/index_search.js
  rundatanet/runes/js/index_search.js
Due: trailing-whitespace-fixer

Add tests for getSearchDirectionConfig direction ID mapping (#87)
  package-lock.json
  rundatanet/tests/js/search_core.test.js
Due: trailing-whitespace-fixer

Fix incomplete JSDoc for `getWordSearchFunction` searchMode parameter (#88)
  rundatanet/runes/js/search_core.js
Due: trailing-whitespace-fixer

Make EDA search functionality the same as on the main page (#86)
  package-lock.json
  rollup.config.mjs
  rundatanet/runes/js/index_scripts.js
  rundatanet/runes/js/index_search.js
  rundatanet/runes/js/search_core.js
  rundatanet/runes/js/search_core_entry.js
  rundatanet/static/runes/eda_scripts.js
  rundatanet/templates/runes/eda.html
  rundatanet/tests/js/search_core.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

fix: inscription search now works in Safari
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add robots.txt and enforce HTTPS protocol in sitemaps
  rundatanet/runes/sitemaps.py
  rundatanet/runes/urls.py
  rundatanet/templates/robots.txt
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add robots.txt and enforce HTTPS protocol in sitemaps (#89)
  rundatanet/runes/sitemaps.py
  rundatanet/runes/urls.py
  rundatanet/templates/robots.txt
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update meta description
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix search in Safari
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Improve typography
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add highlighting to autocomplete search results
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

use jQuery autocomplete
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Use default markers on the map
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add inversion dark mode for leaflet map
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Face lift about page
  rundatanet/templates/runes/about.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Update Inscription Details and About pages (#90)
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/inscription_detail.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Uplift api
  requirements/base.txt
  rundatanet/runes/api.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

feat(api): expand references field to return full Reference objects
  rundatanet/runes/serializers.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Improve REST API: documentation, tagging, and richer reference data (#91)
  requirements/base.txt
  rundatanet/runes/api.py
  rundatanet/runes/serializers.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix displaying images without headers on
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Fix displaying images without headers on (#94)
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Use hashes with static files
  config/settings/production.py
Due: bandit, django-upgrade, end-of-file-fixer

Restore map-to-tree selection behavior on index.html (#97)
  config/settings/production.py
  rundatanet/runes/js/index_scripts.js
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Adopt static hashes with more files
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Use Referer header for OpenStreetMaps
  config/settings/base.py
  rundatanet/runes/js/index_map.js
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  config/settings/base.py
Due: bandit, django-upgrade, end-of-file-fixer

Remove manual `?v=` cache-busting from all sqlite3 references (#99)
  rundatanet/templates/runes/eda.html
  rundatanet/templates/runes/index_old.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Small fixes (#98)
  config/settings/base.py
  rundatanet/runes/js/index_map.js
  rundatanet/templates/runes/eda.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/index_old.html
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add redirect middleware
  config/settings/base.py
  config/settings/production.py
  rundatanet/runes/middleware.py
  rundatanet/tests/test_canonical_middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix unit test
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/runes/middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Move CanonicalDomainMiddleware to production.py to handle localhost and non-canonical redirects (#101)
  config/settings/base.py
  config/settings/production.py
  rundatanet/runes/middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Put CanonicalDomainMiddleware before WhiteNoise
  config/settings/production.py
Due: bandit, django-upgrade, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/tests/test_canonical_middleware.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update canonical links on all pages
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/templates/runes/references.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/templates/runes/about.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Potential fix for pull request finding
  rundatanet/templates/runes/references.html
Due: trailing-whitespace-fixer, end-of-file-fixer
