Repository fralik/rundata-net: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

.pre-commit-config.yaml:

# Pre-commit manager: https://pre-commit.com

# Commit hooks
repos:
  # Python security linter
  - repo: local
    hooks:
      # Python security linter
      - id: bandit
        name: Local bandit
        entry: bandit
        language: python
        types: [python]
        # ll: report only issues of a given severity level or higher (-l for LOW, -ll for MEDIUM, -lll for HIGH)
        # quiet: whether to only show output in the case of an error
        # -s B113: skip testing for timeouts in request calls.
        args: ["-ll", "--quiet", "-s", "B113"]
        stages: [commit, manual]

      # Django-upgrade
      - id: django-upgrade
        name: django Upgrade
        entry: django-upgrade
        language: python
        types: [python]
        stages: [commit, manual]
        args: [--target-version, "5.0"]   # Replace with Django version

      # Python-code autoformat with minimum configuration
      - id: black
        name: Local black
        entry: black
        language: python
        types_or: [python, pyi]
        stages: [commit, manual]
        args: ["--line-length=120"]

      # Python-imports sorting. Settings are set in .isort.cfg
      - id: isort
        name: Local isort
        entry: isort
        language: python
        types_or: [python, pyi]
        args: ["--settings=.isort.cfg"]
        stages: [commit, manual]

      # This hook trims trailing whitespace:
      - id: trailing-whitespace-fixer
        name: Local trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [commit]
        exclude: .*/notebooks/|config/
      # Forces LF over CRLF
      - id: mixed-line-ending
        name: Local mixed-line-ending
        entry: mixed-line-ending
        language: python
        types: [text]
        stages: [commit]
        args: ["--fix=lf"]
      # checks for files that would conflict in case-insensitive filesystems.
      - id: check-case-conflict
        name: Local check-case-conflict
        entry: check-case-conflict
        language: python
        stages: [commit]
      #  ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
        name: Local end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [commit]
        exclude: .*/notebooks/

Use python 3.12 in docker
  compose/local/django/Dockerfile
Due: trailing-whitespace-fixer, end-of-file-fixer

Uplift admin site; use separate sqlite3 database for django tables
  config/settings/base.py
  requirements/base.txt
  rundatanet/runes/admin.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add asgi configuration
  config/asgi.py
Due: bandit, django-upgrade, end-of-file-fixer

Fix inscription searches in admin site
  rundatanet/runes/admin.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add readthedocs new configuration file
  .readthedocs.yaml
  docs/conf.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Make manage production-ready; add build script for Azure app service
  build.sh
  manage.py
  requirements/production.txt
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Adjust for azure app service hosting
  build.sh
  config/settings/production.py
  requirements/base.txt
  requirements/local.txt
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add migrations after moving to Django 5
  rundatanet/contrib/sites/migrations/0004_alter_site_options.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Better handling of integer search filters
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Remove donation form from the about page
  rundatanet/templates/runes/about.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Update Google Analytics
  config/settings/production.py
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update sql.js to v1.9.0
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Remove unused dependency
  requirements/base.txt
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix searching with regular expressions
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

allow Safari; use Unicode regular expressions; add grouping for search parameters
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add search with case; update docs accordingly
  README.rst
  docs/_static/query_builder.png
  docs/_static/query_operators.png
  docs/conf.py
  docs/db/signature.rst
  docs/dev/docker.rst
  docs/searching.rst
  local.yml
  rundatanet/templates/runes/index.html
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add ability to show present location instead of found location
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Change default search and add current coordinates (#1)
  README.rst
  docs/_static/query_builder.png
  docs/_static/query_operators.png
  docs/conf.py
  docs/db/signature.rst
  docs/dev/docker.rst
  docs/searching.rst
  local.yml
  rundatanet/templates/runes/index.html
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/master_rundatanet.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

fix requirements installation
  .github/workflows/master_rundatanet.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Collect static files before deployment
  .github/workflows/master_rundatanet.yml
Due: trailing-whitespace-fixer, end-of-file-fixer

Add search2original.json.gzip file, update about page
  rundatanet/static/runes/search2original.json.gzip
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Do not fail on integer column data
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix display of signatures
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Preserve map bounds when changing views
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add my location to map
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Show inscriptions based on their latest location by default
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/one.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add navigate to inscription for mobile devices
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix geo URLs for Safari
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Replace export to CSV with export to XSLX
  rundatanet/static/runes/csv.worker.js
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix typo and update docs
  docs/getting-started/user_guide.rst
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Improve grouping and defaults for search filters
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add comparison report; reference new DB from index.html
  docs/_static/comparison_report_20240910.html
  docs/index.rst
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add views to DB migrations
  rundatanet/runes/migrations/0002_metainformation_year_from_metainformation_year_to_and_more.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer
