Repository fralik/rundata-net: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

.pre-commit-config.yaml:

# Pre-commit manager: https://pre-commit.com

# Commit hooks
repos:
  # Python security linter
  - repo: local
    hooks:
      # Python security linter
      - id: bandit
        name: Local bandit
        entry: bandit
        language: python
        types: [python]
        # ll: report only issues of a given severity level or higher (-l for LOW, -ll for MEDIUM, -lll for HIGH)
        # quiet: whether to only show output in the case of an error
        # -s B113: skip testing for timeouts in request calls.
        args: ["-ll", "--quiet", "-s", "B113"]
        stages: [pre-commit, manual]

      # Django-upgrade
      - id: django-upgrade
        name: django Upgrade
        entry: django-upgrade
        language: python
        types: [python]
        stages: [pre-commit, manual]
        args: [--target-version, "5.0"]   # Replace with Django version

      # Python-code autoformat with minimum configuration
      - id: black
        name: Local black
        entry: black
        language: python
        types_or: [python, pyi]
        stages: [pre-commit, manual]
        args: ["--line-length=120"]

      # Python-imports sorting. Settings are set in .isort.cfg
      - id: isort
        name: Local isort
        entry: isort
        language: python
        types_or: [python, pyi]
        args: ["--settings=.isort.cfg"]
        stages: [pre-commit, manual]

      # This hook trims trailing whitespace:
      - id: trailing-whitespace-fixer
        name: Local trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit]
        exclude: .*/notebooks/|config/
      # Forces LF over CRLF
      - id: mixed-line-ending
        name: Local mixed-line-ending
        entry: mixed-line-ending
        language: python
        types: [text]
        stages: [pre-commit]
        args: ["--fix=lf"]
      # checks for files that would conflict in case-insensitive filesystems.
      - id: check-case-conflict
        name: Local check-case-conflict
        entry: check-case-conflict
        language: python
        stages: [pre-commit]
      #  ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
        name: Local end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit]
        exclude: .*js|.*css

Ensure search filters match optGroups order in index_query_builder.js (#50)
  .pre-commit-config.yaml
  package-lock.json
  rundatanet/runes/js/index_query_builder.js
  rundatanet/runes/js/index_scripts.js
  rundatanet/runes/urls.py
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/index_new.html
  rundatanet/templates/runes/index_old.html
  rundatanet/tests/js/index_query_builder.test.js
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Rename filter labels for clarity and consistency (#52)
  rundatanet/runes/js/index_query_builder.js
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Rename 'inscription' to 'Inscription ID'
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Rename 'inscription' to 'Inscription ID' (#53)
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Fix confusing word counts
  rundatanet/runes/js/index_search.js
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

simplify countType logic
  rundatanet/runes/js/index_search.js
Due: trailing-whitespace-fixer

Fix confusing word counts (#56)
  rundatanet/runes/js/index_search.js
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Reorganize CSS styles for transliteration and normalization
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Reorganize CSS styles for transliteration and normalization (#57)
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Pin tom-select down to patch version
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Pin tom-select down to patch version (#58)
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Allow case sensitive search and search without special symbols
  rundatanet/runes/js/index_query_builder.js
  rundatanet/runes/js/index_search.js
Due: trailing-whitespace-fixer

Fix buttons layout
  rundatanet/runes/js/index_query_builder.js
  rundatanet/templates/runes/index.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add tests for case sensitivity and special symbol handling in search (#60)
  package-lock.json
  rundatanet/tests/js/index_search.test.js
Due: trailing-whitespace-fixer

Allow case sensitive search and search without special symbols (#59)
  package-lock.json
  rundatanet/runes/js/index_query_builder.js
  rundatanet/runes/js/index_search.js
  rundatanet/templates/runes/index.html
  rundatanet/tests/js/index_search.test.js
Due: trailing-whitespace-fixer, end-of-file-fixer

Fix missing line break before "No images" when headers are hidden (#62)
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Fix display with headers on and off
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Fix display with headers on and off (#67)
  rundatanet/runes/js/index_scripts.js
Due: trailing-whitespace-fixer

Add new reference table
  rundatanet/runes/migrations/0003_metawithcrossestextual_reference_and_more.py
  rundatanet/runes/models.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add urls to view individual inscriptions
  rundatanet/runes/api.py
  rundatanet/runes/apps.py
  rundatanet/runes/normalization.py
  rundatanet/runes/sitemaps.py
  rundatanet/runes/urls.py
  rundatanet/runes/views.py
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/tests/__init__.py
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Update details page
  requirements/local.txt
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add details page per individual inscription (#81)
  requirements/local.txt
  rundatanet/runes/api.py
  rundatanet/runes/apps.py
  rundatanet/runes/normalization.py
  rundatanet/runes/sitemaps.py
  rundatanet/runes/urls.py
  rundatanet/runes/views.py
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/tests/__init__.py
  rundatanet/tests/test_inscription_detail.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix prod configuration
  config/settings/production.py
Due: bandit, django-upgrade, end-of-file-fixer

Fix sitemaps
  rundatanet/runes/sitemaps.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix prod (#82)
  config/settings/production.py
  rundatanet/runes/sitemaps.py
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Add canonical headers
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/templates/runes/references.html
Due: trailing-whitespace-fixer, end-of-file-fixer

Add inscription search to details page
  rundatanet/runes/api.py
  rundatanet/templates/runes/inscription_detail.html
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Fix google console errors (#83)
  rundatanet/runes/api.py
  rundatanet/templates/runes/about.html
  rundatanet/templates/runes/index.html
  rundatanet/templates/runes/inscription_detail.html
  rundatanet/templates/runes/references.html
Due: bandit, django-upgrade, trailing-whitespace-fixer, end-of-file-fixer

Make EDA search functionality the same as on the main page
  rollup.config.mjs
  rundatanet/runes/js/index_scripts.js
  rundatanet/runes/js/index_search.js
  rundatanet/runes/js/search_core.js
  rundatanet/runes/js/search_core_entry.js
  rundatanet/static/runes/eda_scripts.js
  rundatanet/templates/runes/eda.html
Due: trailing-whitespace-fixer, end-of-file-fixer
